<ion-content>
  <ion-slides pager>

    <ion-slide>
      <img src="./assets/slide-1.png">
      <h1>Bem Vindo ao BeautyQ</h1>
      <p>Aposente seus cartõezinhos de fidelidade em papel e tenha tudo aqui no mesmo lugar</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/slide-2.png">
      <h1>Troque pontos por produtos Grátis!</h1>
      <p>Basta ler o QR code nos salões parceiros e acumular pontos para trocar por serviços e produtos incríveis!</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/slide-3.png">
      <h1>Ganhe pontos na entrada</h1>
      <p>Cadastre agora e já ganhe 2 pontos para usar no seu primeiro salão!</p>

      <ion-button size="large" href="/login">ENTRE E GANHE $</ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>