<ion-header>
  <ion-toolbar>
    <ion-title>Regras Básicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>A pontuação que você receber é exclusiva para uso no salão que ofereceu</ion-item>
    <ion-item>A pontuação de um salão não é válida em outro</ion-item>
    <ion-item>Cada Salão define sua política de ganho e de troca</ion-item>
    <ion-item>Para cadastrar um salão novo você precisa do QR Code</ion-item>
    <ion-item>Pontos não podem ser convertidos em dinheiro</ion-item>
    <ion-item>Para ganhar os pontos do Checkin, você precisa ativar a geolocalização e permanecer ao menos 15 min no Salão (ou ser confirmado pelo admin do Salão)</ion-item>
  </ion-list>

  <ion-button expand="block" fill="outline" href="/home">Continuar</ion-button>

</ion-content>