ion-content {
    --ion-background-color:#000;
}

img {
    width: auto;
    max-width: 60%;
    height: auto;
    max-height: 60%;
    margin: 30px auto;
    display: grid;
}

.label-floating.sc-ion-label-ios-h {
    color: #FFF !important;
}